<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections />	
	<appSettings>
		<add key="AutoRenameEpisodes" value="true" />
		<add key="AddYearToMovieFolders" value="true" />
		<add key="AttemptTrailerDownload" value="false" />
		<add key="MovieFolders" value="smb://huntress/Movies;D:\Videos\Movies;\\Huntress\Movies;\\Huntress\Movies2;\\Batman\Movies" />
		<add key="TvFolders" value="/Volumes/TV Shows-1;/Volumes/TV Shows;D:\Videos\TV Shows;\\Huntress\TV Shows;\\Huntress\TV Shows2;\\Batman\TV Shows" />
		<add key="VideoExtensions" value="mp4;m4v;wmv;mpeg;mpg;mpe;mpe2;avi;divx;mkv;ts;mov" />
		<add key="MaxFanArt" value="5" />
		<add key="CachePath" value="~/iMeta" />
	</appSettings>
</configuration>
